# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# C++ / Visual Studio / Build artifacts
.vs/
out/
build/
bin/
obj/
*.exe
*.pdb
*.user
*.ilk
*.sln.doccache

# C# / .NET
[Bb]in/
[Oo]bj/
*.userprefs
*.csproj.user

# OS specific
.DS_Store
Thumbs.db

# triforge specific logs or temp files
*.log